.title
{
    font-family: Aa德古拉简;
    text-align: center;
    font-size: xx-large;
}
.selfIntroduction
{
    font-family: 锐字太空奇遇像素简-闪;
    margin: 0 10% 0;
}
.shortIntroduction
{
    /*background-color: white;*/
}
span
{
    font-weight: bold;
    color: darkorchid;
    font-size: x-large;
}
.otherInfo
{
    font-family: 锐字太空奇遇像素简-闪;
    /*background-color: rgba(247,247,247,0.48);*/
}
.myClassesAndHobbies
{
    text-align: center;
    margin: auto;
    width: 100%;
}
.tableHead
{
    font-size: larger;
    font-weight: bolder;
    color: coral;
}
.audio
{
    text-align: center;
    margin-left: 39%;
}
body
{
    margin-top: 2%;
    background: no-repeat url("天空之城.jpg");
    background-size: cover;
}
.backgroundColor
{
    border-radius: 20px;
    margin-left: 5%;
    margin-right: 5%;
    background-color:rgba(247,247,247,0.65);
}
.myClassesFieldSet
{
    border-radius: 5px;
}
.fieldTitle
{
    color: deeppink;
    font-size: x-large;
}
.myMoodsFieldSet
{
    border-radius: 5px;
    margin-top: 2%;
}
.main
{
    margin: 2% 2% 2% 2%;
}
.imgHappy
{
    border-radius: 5px;
    border-style: solid;
    border-width: medium;
    height: 75%;
    width: 75%;
}
.imgSad
{
    border-radius: 5px;
    border-style: solid;
    border-width: medium;
    height: 47%;
    width: 47%;
}
.myMoods
{
    margin-left: 27%;
}
.happyMoodField
{
    border-radius: 8px;
    color: red;
}
.sadMoodField
{
    border-radius: 8px;
}
.moodsTitle
{
    font-size: x-large;
}
.link:hover
{
    color: mediumblue;
    font-size: large;
    cursor: pointer;
}
.room
{
    width: 80%;
    height: 80%;
}
.myFriends
{
    margin-left: 30%;
}